/*
 * Globals
*/

/* Links */
a, 
a:focus,
a:hover {
    color: #9ca46a;
    text-decoration: underline;
}


/*
 * Base Structure 
*/

html, 
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #3f3a37;
    padding: 1em 1.5em;
}

.cover-container {
    max-width: 45em;
}

/*
 * Header
*/
header {
    margin-bottom: 2em;
    align-items: center;
    padding: 0.5em 1em;
}

header .row {
    flex-direction: column;
    align-items: center;
}

header .col-8 {
    display: flex;
}

.main-logo {
    width: 14em;
    height: 100%;
    margin: 1em auto 1.8em;
}

ul.social {
    list-style: none;
    display: inline-block;
    margin: 1em auto 0 -1em;
}

ul.social li {
    font-size: 1.75em;
    display: inline-block;
    margin: 0 0.5em 0;
}

ul.social li a {
    color: #ababbd;
}

ul.social li a:hover,
ul.social li a:focus {
    color: #ae785b !important;
    text-decoration: none !important;
}

/*
 * Main
*/


/*
 * Footer
*/

.sm-mark {
    width: 4em;
}
