/*
 * Globals
*/

/* Links */
a, 
a:focus,
a:hover {
    color: #9ca46a !important;
    text-decoration: underline !important;
}

/* Lists */
ul {
    list-style: none;
    margin-left: -2rem;
}

/*
 * Base Structure 
*/

html, 
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #3f3a37 !important;
    padding: 1em 0;
    font-family: 'Karla-Regular', Arial, Helvetica, sans-serif !important;
}

.cover-container {
    max-width: 45em;
}

/*
 * Header
*/
header {
    margin-bottom: 2em;
    align-items: center;
    padding: 0.5em 1em;
}

header .row {
    flex-direction: column;
    align-items: center;
}

header .col-8 {
    display: flex;
}

.main-logo {
    width: 14em;
    height: 100%;
    margin: 1em auto 1.8em !important;
}

ul.social {
    list-style: none;
    /* display: inline-block; */
    margin: 1em auto 0.5em 18%;
}

ul.social li {
    font-size: 1.75em;
    display: inline-block;
    margin: 0 0.5em 0;
}

ul.social li a {
    color: #ababbd !important;
}

ul.social li a:hover,
ul.social li a:focus {
    color: #ae785b !important;
    text-decoration: none !important;
}

/*
 * Main
*/
main {
    padding: 1em 1.5em;
}

h2 {
    text-transform: uppercase;
    font-family: 'Karla-Bold', Arial, Helvetica, sans-serif !important;
}

h2 span {
    color: #AE785B;
}

h3 {
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 1.7rem;
}

.lead {
    font-weight: 600 !important;
}

#vet {
    margin: 1.5rem 0em;
    background: #EFF7EC;
    width: 100%;
    padding: 1em;
}

#vet h2 {
    color: #9CA46A;
    font-size: 1.9rem;
    margin-bottom: 1em;
}



/*
 * Footer
*/

footer {
    margin: 5em auto 0;
    background: #3F3A37;
    padding: 1.8em;
}

footer .inner {
    display: flex;
    justify-content: center;
}

footer .tagline {
    font-family: 'AveriaSerifLibre', ArialBold !important;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #F8F7F0;
}

.sm-mark {
    width: 2em;
}
