/*
 * Globals
*/

/* Links */
a {
    color: #9ca46a !important;
}

a:focus,
a:hover {
    text-decoration: underline !important;
}

a.secondary-link {
    font-family: 'Karla-Bold', Arial, Helvetica, sans-serif !important;
}

.btn-primary {
    background: transparent !important;
    color: #AE785B !important;
    text-transform: uppercase;
    font-family: 'Karla-Bold', Arial, Helvetica, sans-serif;
    border: 2px solid #AE785B !important;
    border-radius: 0 !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(156,164,106,.5) !important;
}


.btn-primary:hover {
    border-color: #9CA46A !important;
}

/* Lists */
ul {
    list-style: none;
    margin-left: -2rem;
}

/* Sections */
section {
    display: inline-block !important;
}

/* Others */
.centered-flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
}

/*
 * Base Structure 
*/

html, 
body {
    height: 100%;
}

body {
    /* display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; */
    color: #3f3a37 !important;
    /* padding: 1em 0; */
    font-family: 'Karla-Regular', Arial, Helvetica, sans-serif !important;
    /* background-image: url('/images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.cover-container {
    max-width: 45em;
}

/*
 * Header
*/
header {
    margin-bottom: 2em;
    align-items: center;
    padding: 1.75em 1em;
    height: auto;
    background: #3F3A37;
    border-bottom: 0.3em solid rgba(156,164,106,.9);
}

/* header .row > div {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
} */

header .col-8 {
    display: flex;
}

.main-logo {
    max-width: 14em;
    max-height: 11em;
    width: 100%;
    height: auto;
    margin: 1em auto 1.8em;
}

ul.social {
    list-style: none;
    /* display: inline-block; 
    margin: 1em auto 0.5em 18%; */
}

ul.social li {
    font-size: 1.5em;
    display: inline-block;
    margin: 0 0.5em 0;
}

ul.social li a {
    color: #F8F7F0 !important;
    transition: 0.2s all ease;
}

ul.social li a:hover,
ul.social li a:focus {
    color: #9CA46A !important;
    text-decoration: none !important;
    font-size: 1.85rem !important;
}


/*
 * Main
*/
.container {
    padding: 1em 2em !important;
}

#intro {
    margin: 2rem 0 3rem;
}

h2 {
    text-transform: uppercase;
    font-family: 'Karla-Bold', Arial, Helvetica, sans-serif !important;
}

h2 span {
    color: #AE785B;
}

h3 {
    margin-top: 1em !important;
    text-transform: uppercase;
    font-size: 1.7rem !important;
}

.lead {
    font-weight: 600 !important;
    margin-bottom: 1.5em;
}

#vet {
    margin: 0;
    background: #F8F7F0;
    width: 100%;
    padding: 1em 1.5em;
}

#vetSection .card {
    padding: 0;
}

#vet h2 {
    color: #AE785B;
    font-size: 1.9rem;
    margin-bottom: 1em;
}

.related-image { 
    width: 16em;
    height: 100% !important;
    margin: 0 1.5em 1em;
    display: block;
}



/*
 * Footer
*/

footer {
    margin: 5em auto 0;
    background: #3F3A37;
    padding: 1.8em;
    color: #F8F7F0;
}

footer .inner {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .tagline {
    font-family: 'AveriaSerifLibre', ArialBold !important;
    text-transform: uppercase;
    font-size: 1.5em;
    
}

.sm-mark {
    width: 2em;
}

/*
 * Media Queries
*/

@media only screen and (min-width: 768px){
    /* header .row {
        flex-direction: row;
        justify-content: center;
    } */
    .graphic-container {
      width: 45% !important;
      margin: auto 0 !important;
    }

    #tagline-graphic {
      width: auto !important;
    }

    header .row > div:nth-child(2) {
        align-items: center;
        justify-content: flex-start;
    }


    .main-logo {
        max-width: 12em;
        max-height: 9em;
        margin: 1em auto 1em 12%;
    }

    ul.social {
        margin: 0em auto 0 -2em;
    }
}

@media only screen and (min-width: 1200px){
    .container {
        max-width: 65em;
    }
}

/* 
 * Animation
 */

 /* Screen load */
 #animation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    opacity: 1;
    background: #EFF7EC;
    -webkit-transition: all 0.2s 0.5s ease-out;
    transition: all 0.2s 0.5s ease-out;
 }

#animation-wrapper .animation-section {
    z-index: 1000;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    -webkit-transition: all 0.4s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    transition: all 0.4s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.0);
}

/* When animation is complete, add class 'animated' to body and transition graphic out view */
/* .animated #animation-wrapper .animation-section {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
} */

.animated .graphic-container,
.animated #animation-wrapper .animation-section {
    opacity: 0;
}

.animated #animation-wrapper {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.2s 0.5s ease-out;
    transition: all 0.2s 0.5s ease-out;
    /* -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); */
}


 /* SVG */
 .graphic-container {
    height: 0;
    width: 90%;
    margin: 45%;
    padding-top: 10%; /* makes sure aspect ration of container = that of svg graphic*/
    position: relative; 
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  #tagline-graphic {
    position: absolute;
    top: 50%;
    width: 24em;
    /* top: 0;
    left: 0; */
  }
  
  /*.st0-pets, .st0-ppl, .st1, .st2-are, .st2-too {
    opacity: 0;
    scale: 0;
  } */
  
  /* ANIMATIONS */
  @keyframes fade-in {
    from { 
      opacity: 0; 
      transform: translateY(25px);
    }
    to { 
      opacity: 1; 
      transform: translateY(0);
    }
  }
  
  @keyframes grow-vine-1 {
   from { 
      transform: scale(0,0); 
    }
    to { 
      transform: scale(1,1); 
    }
  }
  
  @keyframes grow-vine-2 {
   from { 
      transform: scaleY(0); 
    }
    to { 
      transform: scaleY(1); 
    }
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2019-6-18 18:25:36
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation bounce-in-bottom
   * ----------------------------------------
   */
  @-webkit-keyframes bounce-in-bottom {
    0% {
      -webkit-transform: translateY(500px);
              transform: translateY(500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(65px);
              transform: translateY(65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(28px);
              transform: translateY(28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
  @keyframes bounce-in-bottom {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(65px);
              transform: translateY(65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(28px);
              transform: translateY(28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2019-6-18 18:32:58
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation wobble-ver-left
   * ----------------------------------------
   */
  @-webkit-keyframes wobble-ver-left {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateY(-30px) rotate(-6deg);
              transform: translateY(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateY(15px) rotate(6deg);
              transform: translateY(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateY(-15px) rotate(-3.6deg);
              transform: translateY(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateY(9px) rotate(2.4deg);
              transform: translateY(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateY(-6px) rotate(-1.2deg);
              transform: translateY(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-ver-left {
    0%,
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateY(-30px) rotate(-6deg);
              transform: translateY(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateY(15px) rotate(6deg);
              transform: translateY(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateY(-15px) rotate(-3.6deg);
              transform: translateY(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateY(9px) rotate(2.4deg);
              transform: translateY(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateY(-6px) rotate(-1.2deg);
              transform: translateY(-6px) rotate(-1.2deg);
    }
    100% {
      opacity: 1;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2019-6-25 16:13:28
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-ver-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-ver-bottom {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-out-ver-bottom {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  
  
  
  .st0, 
  .st-are {
    opacity: 0;
    animation: fade-in 800ms ease forwards;
  }
  
  .st2 {
    opacity: 0;
    -webkit-animation: wobble-ver-left 0.8s 2.3s forwards;
              animation: wobble-ver-left 0.8s 2.3s forwards;
  }
  
  .green-top-branch, 
  .green-leaves-3, 
  .green-leaves-2, 
  .green-leaves-1, 
  .green-leaves-0 {
    opacity: 0;
    animation: fade-in 1s ease forwards;
  }
  
  .green-top-branch, .green-leaves-0 {
    animation-delay: 1s;
  }
  
  .green-leaves-1 {
    animation-delay: 1.25s;
  }
  
  .green-leaves-2 {
    animation-delay: 1.5s;
  }
  
  .green-leaves-3 {
    animation-delay: 1.75s;
  }
  
  
  .green { 
    animation: grow-vine-1 1s cubic-bezier(.65,.15,.45,.98);
    transform-origin: center bottom;
  }
  
  
